*{
    padding: 0;
    margin: 0;
}

.space{
    background: url("../img/bg.jpg"); 
    min-height: 100vh;
    min-width:100%;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: left;
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    width:80vmin;
    height:82vmin;
    display:grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
    background: white;
    margin-top:2cm;
    margin-left:10%;
    border: 2px solid black;
}
.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}
@media only screen and (max-height: 800px)  {
    .space{
        background-image: url('../img/bg1.png');
        
    }
}